.player-list {
}

.ready-btn {
    text-align: center;
}

.lobby-container {
    text-align: center;
    max-width: 720px;
}

.player-name-form {
    padding: 32px;
}

.player-name-form input[type='text'] {
    width: 100%;
}