.ready-btn {
    text-align: center;
}

.lobby-container {
    text-align: center;
}

.player-name-form {
    padding: 32px;
}

.current-player {
    color:green;
}

.player-name-form input[type='text'] {
    width: 100%;
}

@media screen and (min-width: 760px) {
    .player-list.list-horizontal {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 759px) {
    .player-list.list-horizontal {
        grid-template-columns: 1fr 1fr;
    }
  }