.trolling-container {
}

.player-phrase {
    margin-bottom: 2em;
}

.player-phrase-row {
    /* display: flex; */
    column-gap: .25em;
}

.player-phrase-word {
    display: inline-block;
}

.player-phrase-word {
    margin-right: .25em;
    margin-bottom: .5em;
}

.word-card {
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: .25em .5em;
}

.word-card:disabled {
    background: none;
    color: black;
    border: none;
    padding: .25em;
}

.word-card h3 {
    margin: 0;
}