.planning-container {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    width: 100%;
}

.planning-container .word-card-row {
    padding: 32px;
}

.word-card {
    background: lightgrey;
    border: 1px solid gray;
}

.planning-container .word-card {
    width: 100%;
    border-radius: .5em;
}

.word-card h2 {
    margin: 0;
}

.word-card-word {

}

.word-card input {
    width: 100%;
}

.word-card-selectable {
    cursor: pointer;
}

.word-card-selectable:hover {
    background-color: wheat;
}

.word-card-selected {
    background-color: green;
}


.player-card-container {
    margin-top: auto;
    box-sizing: border-box;
}

.player-card-row {
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
    padding: 32px 32px 0;
    display: flex;
    column-gap: 1em;
    padding-bottom: 32px;
}

.player-card-row li:nth-of-type(2) .player-card{
    -webkit-animation-delay:.5s;
    animation-delay:.5s;
}

.player-card-row li:nth-of-type(3) .player-card{
    -webkit-animation-delay:1s;
    animation-delay:1s;
}

.player-card-row li:nth-of-type(4) .player-card{
    -webkit-animation-delay:1.5s;
    animation-delay:1.5s;
}

.player-card-row li:nth-of-type(5) .player-card{
    -webkit-animation-delay:2s;
    animation-delay:2s;
}

.player-card-row li:nth-of-type(6) .player-card{
    -webkit-animation-delay:2.5s;
    animation-delay:2.5s;
}

.player-card-row li:nth-of-type(7) .player-card{
    -webkit-animation-delay:3s;
    animation-delay:3s;
}

.player-card {
    min-width: 20vw;
    max-width: 256px;
    min-height: calc(20vw*1.4);
    max-height: 358.4px;
    padding: 32px;
    border: none;
    border-radius: .5em;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    background-color: transparent;
    transition: all .25s ease-in;
    -webkit-animation: slidein 1s backwards;
    animation: slidein 1s backwards;
}

.player-card:not(.disabled) {
    cursor: pointer;
}

.player-card:not(.disabled):hover {
    transform: scale(1.05);
}

.player-card.disabled {
    opacity: .1;
}

.player-card:not(.disabled).player-card-selected {
    outline: 4px solid greenyellow;
}

.player-card-dump {
    background-image: url(../assets/cards/dump-front.png);
}

.player-card-invert {
    background-image: url(../assets/cards/invert-front.png);
}

.player-card-pump {
    background-image: url(../assets/cards/pump-front.png);
}

.player-card-rhyme {
    background-image: url(../assets/cards/rhyme-front.png);
}

.player-card-subvert {
    background-image: url(../assets/cards/subvert-front.png);
}

.player-card-swap {
    background-image: url(../assets/cards/swap-front.png);
}

.player-card-troll {
    background-image: url(../assets/cards/troll-front.png);
}

/* CARD ANIMATIONS */
@keyframes slidein {
    0% {
        margin-left:-100%;
        transform: translate(-1000%, 0) rotate(30deg) scale(1.2);
        box-shadow: -24px 102px 2px 1px rgba(10, 10, 50, .1);
    }
      
    100% {
        margin-left:0%;
        transform: translate(0%, 0%) rotate(0) scale(1);
    } 
      
      
  }