.planning-container {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    width: 100%;
}

.word-card-row {
    padding: 32px;
}

.word-card {
    width: 100%;
}

.word-card-word {

}

.word-card input {
    width: 100%;
}

.player-card-container {
    margin-top: auto;
    box-sizing: border-box;
}

.player-card-row {
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
    padding: 32px 32px 0;
    display: flex;

}

.player-card {
    min-width: 20vw;
    max-width: 256px;
    padding: 32px;
}

.player-card-selected {
    background-color: yellow;
}

.word-card-selected {
    background-color: green;
}